# Limpieza de columnas

Habrá que transformar las columnas con las que podamos hacer operaciones (

- Brand: object, unchanged, ok. USABLE and USED - Precio y cantidad - 
- Year: integer, modified, ok. USABLE and USED - Precio y cantidad - 
- Model: object, unchanged, ok. MEH
- Car/Suv: object, unchanged, ok. MEH
- Title: object, unchanged, ok. MEH
- UsedOrNew: object, unchanged, ok. USABLE and USED - Precio y cantidad - 
- Transmission: object, modified, ok. USABLE and USED - Precio y cantidad -
- Engine: transformado a Cylinders, Capacity.
- Cylinders: int, modified, USABLE and USED - Consumo combustible - 
- Capacity: float, modified, USABLE and USED - Consumo combustible - 
- DriveType: object, unchanged, ok. USABLE and USED - Precio y cantidad - 
- FuelType: object, modified, ok. USABLE - Precio y cantidad -
- FuelConsumption: float, modified, ok. USABLE and USED for Cylinders and Capacity - 
- Kilometres: integer, modified, ok. USABLE and USED - Precio - 
- ColourExtInt: object, unchanged, ok. MEH
- Location: object, modified, ok. USABLE and USED - Mapa de precio por estado - 
- CylindersInEngine: deleted.
- BodyType: object, unchanged, ok. USABLE and USED - Precio y cantidad -
- Doors: int, modified, ok. USABLE
- Seats: int, modified, ok. USABLE
- Price: int, modified, ok. USABLE

Características generales (cualquier cosa que no tenga que ver con el precio):
 - Fuel consumption según Capacity del motor.
 - Fuel consumption según Cylinders.
 - Fuel consumption según BodyType.
 - Fuel consumption según FuelType.
 - Doors según BodyType.
 - Seats según BodyType.
 
Características Australia:
 - Cantidad por marca
 - Cantidad por...
 ...
 - Marca según estado.
 - Marca según tipo de coche.
 - Marca según consumbo combustible. 
 
Precio según features:

In [1]:
import pandas as pd

# Leemos el archivo CSV:
df = pd.read_csv("Aus.csv")

df.shape[0]

16734

In [2]:
df

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [3]:
# Eliminamos los valores NA del dataframe:
df = df.dropna()
df.shape[0]

14586

Cambiamos el tipo de datos de algunas columnas y limpiamos las columnas que tengan valores erróneos o incompletos.

In [4]:
# Year:
# Transformamos a integer:
df["Year"] = df["Year"].astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_81184\1515359856.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = df["Year"].astype(int)

In [5]:
# Transmission:
# Eliminamos los valores "-":
df = df.loc[df['Transmission'] != '-']
df.shape[0]

14554

In [6]:
# Dividimos la columna "Engine" en dos columnas, "Cylinders" y "Capacity":
df[["Cylinders", "Capacity(Liters)"]] = df["Engine"].str.split(", ", expand=True, n=1)
# Eliminamos la columna "Engine":
df = df.drop(columns=["Engine"])
# También tenemos duplicada ahora la columna CylindersinEngine:
df = df.drop(columns=["CylindersinEngine"])
# Transformamos la columna Cylinders a integer:
df["Cylinders"] = df["Cylinders"].str.split(" ", expand=True, n=1)[0].astype(int)
# Transformamos la columna Capacity a float:
df["Capacity(Liters)"] = df["Capacity(Liters)"].str.split(" ", expand=True, n=1)[0].astype(float)

In [7]:
# FuelType:
# Eliminamos los valores "-":
df = df.loc[df['FuelType'] != '-']
df.shape[0]

14392

In [8]:
# FuelConsumption:
# Eliminamos los valores "-":
df = df.loc[df['FuelConsumption'] != '-']
# Transformamos a float:
df["FuelConsumption"] = df["FuelConsumption"].str.split(" ", expand=True, n=1)[0].astype(float)
df.shape[0]

14392

In [9]:
# Kilometres:
# Eliminamos los valores "-":
df = df.loc[df['Kilometres'] != '-']
# Transformamos a integer:
df["Kilometres"] = df["Kilometres"].astype(int)
df.shape[0]

14308

In [10]:
# Location:
# Vamos a separarlo por estados:
df["Location"] = df["Location"].str.split(", ", expand=True, n=1)[1]

In [11]:
# Transformamos la columna "Doors" a integer:
df["Doors"] = df["Doors"].str.split(" ", expand=True, n=2)[1].astype(int)
# Transformamos la columna "Seats" a integer:
df["Seats"] = df["Seats"].str.split(" ", expand=True, n=2)[1].astype(int)

In [12]:
# Convertimos la columna "Price" a tipo float, ignorando los valores no numéricos:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Eliminamos las filas con NaN en la columna "Price":
df = df.dropna(subset=['Price'])

# Convertimos la columna "Price" a tipo entero:
df['Price'] = df['Price'].astype(int)
df.shape[0]

14283

In [13]:
df["Location"].unique()

array(['NSW', 'VIC', 'QLD', 'SA', 'WA', 'ACT', 'AU-VIC', 'TAS', 'NT'],
      dtype=object)

In [14]:
# Nombres completos de los estados de Australia para la visualización en mapa:
df.loc[df['Location'] == 'NSW', 'Location'] = 'New South Wales'
df.loc[df['Location'] == 'VIC', 'Location'] = 'Victoria'
df.loc[df['Location'] == 'QLD', 'Location'] = 'Queensland'
df.loc[df['Location'] == 'SA', 'Location'] = 'South Australia'
df.loc[df['Location'] == 'WA', 'Location'] = 'Western Australia'
df.loc[df['Location'] == 'ACT', 'Location'] = 'Australian Capital Territory'
df.loc[df['Location'] == 'AU-VIC', 'Location'] = 'Victoria'
df.loc[df['Location'] == 'TAS', 'Location'] = 'Tasmania'
df.loc[df['Location'] == 'NT', 'Location'] = 'Northern Territory'

df = df.rename(columns={'Location': 'State'})
df['Country'] = 'Australia'

In [15]:
df.dtypes

Brand                object
Year                  int32
Model                object
Car/Suv              object
Title                object
UsedOrNew            object
Transmission         object
DriveType            object
FuelType             object
FuelConsumption     float64
Kilometres            int32
ColourExtInt         object
State                object
BodyType             object
Doors                 int32
Seats                 int32
Price                 int32
Cylinders             int32
Capacity(Liters)    float64
Country              object
dtype: object

In [16]:
df["FuelType"].unique()

array(['Diesel', 'Premium', 'Unleaded', 'Hybrid', 'Electric', 'LPG',
       'Leaded'], dtype=object)

In [17]:
df.to_csv("AusClean.csv", index=False)